/* ====== FOOTER - Priti ====== */
footer {
  color: $septenary-color;
  text-align: center;
  padding: 1em;
  position: relative;
  bottom: 1em;
  left: 0;
  right: 0;
}

.homepage {
  position: absolute;
}
