/* ====== GLOBAL  -Home page related by Priti====== */

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-stack;
  font-size: $base-font-size;
  background-color: $secondary-color;
   min-height: 100vh;
   max-width: 100vw;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

h1, h2, p {

    padding: 5%;
    text-align: center;

}

h1, h2 {
    font-family: 'Oswald';
    color: #666666;

}

h1 {
  padding-bottom: 0;
}
h2 {
  padding: 0;
}


p{
    font-family: 'PT Sans';
    color: $septenary-color;
    margin:  auto;
    width: 60%;
    text-align: justify;

}


.box {
    background-color: $primary-color;
    color: $septenary-color;
    position: absolute;

      top: 30%;
      left: 40%;
      transform: translateY(-50%);
      transform: translateX(-50%);
      width: 40vh;
      height: 40vh;
      z-index: -1;
      overflow: hidden;

  }

  .triangle {

    position: absolute;
    top: 30%;
    left: 40%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    z-index: -1;
   	border-left: 25vh solid transparent;
   	border-right: 20vh  solid transparent;
    border-bottom: 50vh solid $primary-color;
    overflow: hidden;

}




.loading {
    -webkit-animation: rotation 30s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }

    }

#colorText {

    animation: example1 10s infinite linear;

}
@keyframes example1 {

  0%   {color: $septenary-color;}
  25%  {color: $secondary-color;}
  50%  {color: $tertiary-color;}
  75%  {color: $quaternary-color;}
  100% {color: $quinary-color;}
}

/* ====== End -Home page related by Priti====== */
/* ====== Start - About page related by Priti====== */

#hexagon {
    width: 100vh;
    height: 55vh;
    background: $primary-color;
    position: absolute;


  }
  #hexagon:before {
    content: "";
    position: absolute;
    top: -25vh;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50vh solid transparent;
    border-right: 50vh solid transparent;
    border-bottom: 25vh solid lightgrey;
  }
  #hexagon:after {
    content: "";
    position: absolute;
    bottom: -25vh;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50vh solid transparent;
    border-right: 50vh solid transparent;
    border-top: 25vh solid lightgrey;

  }

  /* ====== End About page related by Priti====== */
