/* ====== HEADER  - Alvar====== */
.header-container {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 4%;
}
header ul li {
    display: inline;
}
header ul li a {
    text-decoration: none;
    color: $senary-color;
}
