/* ====== NAVBAR - Alvar ====== */

/* Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: transparent;
    color: $senary-color;
}

/* Add an active class to highlight the current page */
.active {
    //background-color: $senary-color;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


// grid images

.om-grid-item1 {
    grid-area: title1;
    text-align: center;
   
}

.om-grid-item2 {
    grid-area: cake1;
    text-align: center;
    padding: 1.5vw;
    background-color: rgb(251, 250, 247);
}

.om-grid-item3 {
    grid-area: cake2;
    text-align: center;
    padding: 1.5vw;
    background-color: rgb(251, 250, 247);
}

.om-grid-item4 {
    grid-area: cake3;
    text-align: center;
    padding: 1.5vw;
    background-color: rgb(251, 250, 247);
}
//--end grid
// first class mobile
@media screen and (max-width: 600px) {
    /*.topnav a:not(:first-child) {display: none;}*/
     .topnav a {
    display: none;
    //display: block;
    }
    .topnav a.icon {
      float: right;
      display: block;
      //position: absolute;
      //right: 0;
      //top: 0;
    }
    .topnav {
        flex-basis: 300px;
    }
}

// responsive class mobile
@media screen and (max-width: 600px) {
    /*.topnav.responsive {position: relative;}*/
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 7px;
    }
    .topnav.responsive a {
      margin: 0px;  
      float: none;
      display: block;
      text-align: center;
    }
    .topnav.responsive a img.img-logo {
            width: 50%;
    }
    
}

// carrousel--Alvar
.testimonials {
  overflow: hidden;
  position: relative;
  max-height: 300px;
}

.testimonials {
  background: trasparent;
}

.one-slide,
.testimonial,
.message {
  border: none !important;
  outline: none !important;
}

.icon-overlay {
  position: absolute;
  opacity: 0.3;
  right: 10%;
  top: 0;
  height: auto;
  width: 100%;
  max-width: 400px;
}

.carousel-controls .control {
  position: absolute;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 1;
}

.prev {
  left: -2.25rem;
}

.next {
  right: -2.25rem;
}
// no links
#home {
    text-decoration: none;
}

#work {
    text-decoration: none;
}

#contact {
    text-decoration: none;
}

#about {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
  .testimonials {
    max-height: 700px;
  }
  .icon-overlay {
    height: 300px;
    top: calc(50% - 150px);
  }
  .carousel-controls .control {
    width: 25px;
    height: 25px;
    top: inherit;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .control i {
    font-size: .7rem;
  }
  .testimonials .message {
    font-size: 1rem;
  }
  .testimonials h2 {
    font-size: 1.5rem;
  }
}
//---End Carrousel Alvar
      