/* ====== NAVBAR - Alvar ====== */
.logo {
    margin-left: 2%;
} 

li a.active {
    //color:
    border-bottom: 2px solid $senary-color;
    font-weight: 300; 
}
li a:hover {
    color: $septenary-color;
}
li {
    padding: 15px;
}